@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
/* PrismJS 1.29.0
https://prismjs.com/download.html#themes=prism-okaidia&languages=clike+c&plugins=line-numbers */
/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 * edited a bit by me to make it akin to monokai*/

code[class*="language-"],
pre[class*="language-"] {
	color: #f8f8f2;
	background: none;
	/* text-shadow: 0 1px rgba(0, 0, 0, 0.3); */
	font-family: 'consolas', 'monospace';
	font-size: 1.05em;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
	padding: 0.2em;
	margin: .5em 0;
	overflow: auto;
	border-radius: 0.3em;
}

:not(pre)>code[class*="language-"],
pre[class*="language-"] {
	background: #272822;
}

/* Inline code */
:not(pre)>code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #8292a2;
	font-style: italic;
}

.token.punctuation {
	color: #f8f8f2;
}

.token.namespace {
	opacity: .7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
	color: #f92672;
}

.token.boolean,
.token.number {
	color: #ae81ff;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: #e6db74;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
	color: #f92672;
}

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
	color: #a6e22e;
}

.token.keyword {
	color: #66d9ef;
	font-style: italic;
}

.token.regex,
.token.important {
	color: #fd971f;
}

.token.bold {
	font-weight: bold;
}

.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

pre[class*="language-"].line-numbers {
	position: relative;
	padding-left: 3.2em;
	counter-reset: linenumber;
	white-space: pre-wrap;
}

pre[class*="language-"].line-numbers>code {
	position: relative;
	white-space: inherit;
}

.line-numbers .line-numbers-rows {
	position: absolute;
	pointer-events: none;
	top: -0.15em;
	left: -3.2em;
	width: 3em;
	/* works for line-numbers below 1000 lines */
	font-size: 0.98em;
	letter-spacing: -1px;
	/* border-right: 1px solid #999; */

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

}

.line-numbers-rows>span {
	display: block;
	counter-increment: linenumber;
}

.line-numbers-rows>span:before {
	content: counter(linenumber);
	color: hsl(0, 0%, 65%);
	display: block;
	padding-right: 0.8em;
	text-align: right;
	background-color: hsl(70, 8%, 20%);
	border-right: 2px solid #999;
	line-height: 1.8rem;
}
/*stackedit css*/

/* markdown css*/
html {
	line-height: 1.15;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}

body {
	margin: 0;
	background-color: hsl(0, 0%, 100%);
	color: #272822;
	font-family: 'Roboto Slab', serif;
}

h1 {
	font-size: 3.1em;
	margin: 1em 0;
}

hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible
}

b,
strong {
	font-weight: inherit;
	font-weight: bolder;
}

img {
	border-style: none;
	border-radius: 0.3em;
}

blockquote,
dl,
ol,
p,
pre,
ul {
	margin: 1.2em 0
}

h1:after {
	content: '';
	display: block;
	position: relative;
	top: .33em;
	border-bottom: 4px solid hsla(0, 0%, 50%, .33)
}

ol ol,
ol ul,
ul ol,
ul ul {
	margin: 0
}

dt {
	font-weight: 700
}

hr {
	border: 0;
	border-top: 4px solid hsla(0, 0%, 50%, .33);
	margin: 2em 0
}

td:last-child,
th:last-child {
	border-right: 0
}

td {
	border-top: 1px solid #dcdcdc
}

img {
	width: 100%
}

.stackedit__html {
	margin-bottom: 180px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 30px;
	padding-right: 30px;
	max-width: 950px
}

pre {
	width: 100;
}

h3 {
	line-height: 1.3em;
	font-weight: 600;
}

pre::after {
	content: 'language-C';
	position: absolute;
	top: 0.6em;
	right: 0.4em;
	font-size: 0.9em;
	background-color: hsl(70, 8%, 25%);
	border-radius: 0.3em;
	color: hsl(0, 0%, 85%);;
	padding: 0.3em;
}

@media print {
	/* Adjust page size for printing */
	@page {
		size: 310mm 850mm;
	}
}

.imgdiv::before {
	content: 'OUTPUT';
	position: relative;
	display: block;
	bottom: -0.2em;
	background-color: #272822;
	border-radius: 0.3em 1.2em 0em 0em;
	color: hsl(0, 0%, 85%);;
	padding: 0.5em;
}

*[contenteditable="true"]:focus {
	background-color: hsl(80, 76%, 75%);
	border: 2px solid hsl(80, 76%, 45%);
}

p {
	font-weight: 600;
	font-family: inherit;
}

h3::before {
	content: '\01F3AF';
	position: relative;
	padding-left: 0;
	left: -0.2em;
	font-size: 2.5em;;
}
